html {
  position: relative;
  min-height: 100%;
  font-size: 15px;
  scroll-padding-top: 40px;
}

body {
  margin-bottom: 150px;
  word-wrap: break-word;
}

img {
  max-width: 100%;
}

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  z-index: 100000;
}

.navbar-brand img {
  height: 40px;
  max-height: 100%;
}

.g-recaptcha {
  display: inline-block;
}

.avatar img {
  border-radius: 4px;
}

.avatar-column img {
  border-radius: 12px;
}

hr {
  margin-top: -0.3em;
}

.navbar .dropdown {
  position: relative;
}

.navbar-menu {
  overflow: visible!important;
}